@font-face {
    font-family: 'Starbuks';
    src: url('fonts/SoDoSans-Regular.woff');
}

* {
    color: #212121;
    margin: 0;
    font-family: Starbuks;
}


.header {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 1.5rem 2.5rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    position: fixed;
    top: 0;
    width: calc(100% - 5rem);
    background: white;
}

main {
    margin: 150px 8.75rem;
}

.header-text {
    display: inline-block;
}

.header-text a {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
    transition-duration: 300ms;

}

.header-text a:hover {
    color: #00754a;
    transition-duration: 300ms;
    border-bottom: 4px solid #00754a;
    padding-bottom: 2.15rem;
}

[role="tablist"] button:first-child {
    color: #00754a;
    border-bottom: 4px solid #00754a;
}

.active {
    border-bottom: 4px solid #00754a;
    padding-bottom: 2.15rem;
}

.header-text a:nth-child(even) {
    margin: 0 1rem;
}

.header-leftside {
    display: flex;
    align-items: center;
}

.header-leftside > div {
    margin: 0 3rem;
}

.header-rightside {
    display: flex;
    align-items: center;
}

#logo {
    width: 3.25rem;
    height: 3.25rem;
}

.location {
    width: 24px;
    overflow: visible;
    fill: #212121;
    transition-duration: 300ms;
}

.header-rightside a {
    text-decoration: none;
    display: flex;
    font-size: 0.875rem;
    place-items: center;
    font-weight: 600;
    cursor: pointer;
}

.header-rightside a:hover svg, .header-rightside a:hover {
    fill: #00754a;
    transition-duration: 300ms;
    color: #00754a;
}

.login-btn {
    border: 1px solid rgba(0, 0, 0, .87);
    outline: none;
    background: transparent;
    width: 5rem;
    height: 2rem;
    border-radius: 50px;
    margin: 0 1rem;
    cursor: pointer;
    transition-duration: 300ms;
    font-weight: 600;
}

.login-btn:hover {
    background-color: rgba(0, 0, 0, .06);
    transition-duration: 300ms;
}

.join-btn {
    border: 1px solid rgba(0, 0, 0, .87);
    outline: none;
    background: black;
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 50px;
    transition-duration: 300ms;
    cursor: pointer;
    font-weight: 600;
}

.join-btn:hover {
    background-color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .7);
}

.footer {
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    background-color: #fff !important;
    padding: 3rem 8.75rem;

}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.footer a, .content a {
    text-decoration: none;
    color: rgba(0, 0, 0, .58);
    margin-bottom: 1rem;
}

.footer a:hover, .content a:hover {
    color: rgba(0, 0, 0, .87);
}

#category {
    width: 15%;
}

#category a {
    width: 8rem;
}

.content p {
    text-align: left;
    font-weight: 600;
}

.content p:first-child {
    margin-bottom: 1rem;
}

.content p:not(:first-child) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content a {
    text-align: left;
}

.flex-menu {
    display: flex;
}

#category {
    margin-right: 3rem;
}

#menu {
    width: 70%;
}

#menu p {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

#menu p:not(:first-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

#menu img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    margin-right: 1rem;
}

#menu a {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 50%;
    font-size: 1.25rem;
    color: #212121;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section {
    display: flex;
    place-items: center;
    flex-direction: column;
}

.c span, .d span p {
    color: white
}

#image {
    width: 80px;
}

#gift-card p {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.slideshow-container {
    position: relative;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.mySlides {
    transition-duration: 500ms;
    cursor: pointer;
    z-index: -1;
}

.mySlides:hover {
    transform: translateY(-10px);
    transition-duration: 500ms;
}

.slideshow-container img {
    border-radius: 8px;
}

.slideshow-container div {
    margin-right: 1rem;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: gray;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
    transition: 0.6s ease;
    user-select: none;
    z-index: -1;
}

/* Position the "next button" to the right */
.next {
    right: 2rem;
}

.prev {
    left: 1rem;
}

.see-all {
    text-decoration: none;
    color: #00754a;
    font-weight: 600;
    font-size: 0.875rem;
}

main h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: #d50032;
}

.bg-red {
    background-color: #d50032;
    color: white;
    margin-bottom: 2rem;
    width: 49%;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.bg-green {
    background-color: #00b388;
    color: white;
    margin-bottom: 2rem;
    width: 49%;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.feature-img {
    width: 100%;
}

.feature-green-img {
    width: 100%;
}

.feature-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.feature-green-text {
    color: #1e3932;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.feature-desc {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 75%;
}

.feature-green-desc {
    color: #1e3932;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 75%;
}

.order-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
}

.order-green-btn {
    background-color: transparent;
    border: 1px solid #1e3932;
    color: #1e3932;
    border-radius: 100px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
}

.order-green-btn:hover {
    background-color: rgba(30, 57, 50, .1);
}

.order-btn:hover {
    background-color: hsla(0, 0%, 100%, .12);
}

.flex-wrap {
    flex-wrap: wrap;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.f-heading {
    text-align: center;
}

.sb-heading1 {
    margin-bottom: 1rem;
}

.Rows, .multiThumbnailsRow_3 {
    display: flex;
    place-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.Rows-1, .Rows-2, .Rows-3, .freebies, .order-2, .free-faster {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
    justify-content: space-between;
    width: 100%;
}

.sb-heading_acc, .sb-heading-order, .sb-heading-eran, .sb-heading-1, .sb-heading-2, .sb-heading_3, .sb-textLink-1, .sb-textLink-2, .sb-textLink_3s {
    margin: 1rem 0;
}

.link_1, .link_2, .link-1 {
    color: #00a862 !important;
}

.pt3 {
    width: 75%;
    margin: 0 auto;
}

.sectionMargins_2, .Margin-3-heading, .pay-ways {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin: 2rem 0;
}

.tabs {
    box-shadow: inset 0 7px 9px -7px rgb(0 0 0 / 14%);
}

.tabs > div {
    width: 33.33%;
    margin: 0 auto;
    height: 300px;
    text-align: left;
}
.tabs > div h2{
    margin-bottom: 1rem ;
}

.Margin-3-heading p, .pay-ways p {
    width: 45%;
    margin: 1rem 0;
}

[role="tab"] {
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 0;
    cursor: pointer;
}

.sb-textLink-1, .sb-textLink-2, .sb-textLink_3s {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: #006241 !important;
    text-decoration: underline;
    font-size: 1rem;
}

.tag0-text-xs, .tag1-text-xs, .tag2-text-xs, .tab3-text-xs, .tab4-text-xs {
    color: #cba258 !important;
}

.tabs {
    width: 100%;
    background: #d4e9e2 !important;
}

.tabs > div {
    place-items: center;
}

.sectionMargins_4 {
    background-color: #f2f0eb !important;
    padding: 1rem;
}

.flex-item-1A {
    display: flex;
    margin: 150px 8.75rem;
}

.gridItem-1 {
    width: 25%;
}

.cardContent___1B > p {
    width: 75%;
    margin: 0;
}

.cardContent___1B {
    margin: 0 2rem;
}

.sb-heading-1A {
    margin-bottom: 1rem;
}

.flex-item-1B {
    display: flex;
    width: 50%;
}

.sb-heading-1B {
    margin-bottom: 1rem;
}

.text-item-1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.sb-global {
    width: 100%;
}

.tab-img {
    width: 50%;
}